In [1]:
#Print numbers from 1 to 5 using a while loop.
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [2]:
#Calculate the sum of numbers from 1 to 10 using a while loop.

i=1
s=0
while i <=10:
    s+=i
    i+=1
print(s)

55

In [5]:
#Calculate the factorial of a number using a for loop.
n=10
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

3628800

In [9]:
#Count the number of vowels in a string using a for loop.
vowels = 'aeiouAEIOU'
s='Jasmeet Singh Arora'
sum=0
for i in s:
    if i in vowels:
        sum+=1
print(sum)

7

In [17]:
#Print a pattern using nested loops.
n=5
for i in range(1,n+1):
    for j in range(i):
        print('*', end =' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [18]:
#Generate a multiplication table using nested loops.
n=10
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i*j,end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100